* {
  box-sizing: border-box;
  margin: 20;
  padding: 20;
  font-family: 'Bahnschrift', sans-serif;
}

.home,
.reports,
.products,
.team,
.reports {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
